In [1]:
# !pip install spotipy

In [2]:
import spotipy
from spotipy.oauth2 import SpotifyOAuth, SpotifyClientCredentials
import os
import pandas as pd

#### set environment variables for SPOTIPY_CLIENT_ID and SPOTIPY_CLIENT_SECRET to avoid an error when running the next cell

In [3]:
# authenticate communication with spotify's servers
auth_manager = SpotifyClientCredentials()

In [4]:
# creating spotify object
sp = spotipy.Spotify(auth_manager=auth_manager)

In [5]:
# top 100 songs url
top_songs_playlist_url = 'https://open.spotify.com/playlist/5ABHKGoOzxkaa28ttQV9sE'

In [6]:
# get top 100 songs id
playlist_id = top_songs_playlist_url.split('/')[-1]

In [7]:
# get the json file
playlist_json = sp.playlist_tracks(playlist_id)

In [8]:
playlist_json.keys()

dict_keys(['href', 'items', 'limit', 'next', 'offset', 'previous', 'total'])

In [9]:
len(playlist_json['items'])

100

In [10]:
artist_list = []

for i in range(100): # playlist will always contain 100 songs
    artists = playlist_json['items'][i]['track']['artists']
    
    for artist in artists: # considering collaborations
        artist_id = artist['id']
        artist_name = artist['name']
        artist_type = artist['type']
        
        artist_list.append(
            {
                'artist_id' : artist_id,
                'artist_name': artist_name,
                'artist_type': artist_type
            }
        )

In [11]:
album_list = []

# assuming an album is owned by only one artist
for i in range(100): 
    album = playlist_json['items'][i]['track']['album'] 
    
    album_id = album['id']
    album_name = album['name']
    album_type = album['type']
    album_release_date = album['release_date']
    album_total_tracks = album['total_tracks']
    album_owner_id = album['artists'][0]['id']
    album_owner_name = album['artists'][0]['name']
    
    album_list.append(
        {
            'album_id' : album_id,
            'album_name': album_name,
            'album_release_date': album_release_date,
            'album_total_tracks': album_total_tracks,
            'album_type': album_type,
            'album_owner_id': album_owner_id,
            'album_owner_name': album_owner_name
        }
    )

In [12]:
# tracks
track_list= []
for i in range(100):
    track = playlist_json['items'][i]['track']
    album = playlist_json['items'][i]['track']['album']
    
    track_id = track['id']
    track_title = track['name']
    track_number = track['track_number']
    track_type = track['type']
    explicit = track['explicit']
    duration_ms = track['duration_ms']
    rank = i+1

    track_list.append(
        {
            'track_id': track_id,
            'album_id': album['id'],
            'track_title': track_title,
            'track_number': track_number,
            'track_type': track_type,
            'explicit': explicit,
            'duration_ms': duration_ms,
            'rank': rank
        }
    )

In [13]:
collaboration_list = []

for i in range(100):
    track = playlist_json['items'][i]['track']
    
    track_id = track['id']
    artists = track['artists']
    
    for artist in artists:
        collaboration_list.append(
            {
                'track_id': track_id,
                'artist_id': artist['id']
            }
        )

In [14]:
artist_df = pd.DataFrame(artist_list)

artist_df

                  artist_id    artist_name artist_type
0    1Xyo4u8uXC1ZmMpatF05PJ     The Weeknd      artist
1    6eUKZXaKkcviH0Ku9w2n3V     Ed Sheeran      artist
2    4GNC7GD6oZMSxPGyXy4MNB  Lewis Capaldi      artist
3    246dkjvS1zLTtiykXe5h60    Post Malone      artist
4    1zNqQNIdeOUZHb8zbZRFMX       Swae Lee      artist
..                      ...            ...         ...
125  7vk5e3vY1uw9plTHJAMwjN    Alan Walker      artist
126  2DaxqgrOhkeH0fpeiQq2f4          Oasis      artist
127  6olE6TJLqED3rqDCT0FyPh        Nirvana      artist
128  0du5cEVh5yTK9QJze8zA0C     Bruno Mars      artist
129  4gzpq5DPGxSnKTe4SA8HAU       Coldplay      artist

[130 rows x 3 columns]

In [15]:
album_df = pd.DataFrame(album_list)
album_df.head()

,album_id,album_name,album_release_date,album_total_tracks,album_type,album_owner_id,album_owner_name
0,4yP0hdKOZPNshxUOjY0cZj,After Hours,2020-03-20,14,album,1Xyo4u8uXC1ZmMpatF05PJ,The Weeknd
1,3T4tUhGYeRNVUGevb0wThu,÷ (Deluxe),2017-03-03,16,album,6eUKZXaKkcviH0Ku9w2n3V,Ed Sheeran
2,5658aM19fA3JVwTK6eQX70,Divinely Uninspired To A Hellish Extent,2019-05-17,12,album,4GNC7GD6oZMSxPGyXy4MNB,Lewis Capaldi
3,35s58BRTGAEWztPo9WqCIs,Spider-Man: Into the Spider-Verse (Soundtrack ...,2018-12-14,13,album,0LyfQWJT6nXafLPZqxe9Of,Various Artists
4,0UywfDKYlyiu1b38DRrzYD,Dance Monkey (Stripped Back) / Dance Monkey,2019-10-17,2,album,2NjfBq1NflQcKSeiDooVjY,Tones And I

In [16]:
track_df = pd.DataFrame(track_list)
track_df

,track_id,album_id,track_title,track_number,track_type,explicit,duration_ms,rank
0,0VjIjW4GlUZAMYd2vXMi3b,4yP0hdKOZPNshxUOjY0cZj,Blinding Lights,9,track,False,200040,1
1,7qiZfU4dY1lWllzX7mPBI3,3T4tUhGYeRNVUGevb0wThu,Shape of You,4,track,False,233712,2
2,7qEHsqek33rTcFNT9PFqLf,5658aM19fA3JVwTK6eQX70,Someone You Loved,4,track,False,182160,3
3,3KkXRkHbMCARz0aVfEt68P,35s58BRTGAEWztPo9WqCIs,Sunflower - Spider-Man: Into the Spider-Verse,2,track,False,158040,4
4,2XU0oxnq2qxCpomAAuJY8K,0UywfDKYlyiu1b38DRrzYD,Dance Monkey,2,track,False,209438,5
...,...,...,...,...,...,...,...,...
95,698ItKASDavgwZ3WjaWjtz,3nzuGtN3nXARvvecier4K0,Faded,15,track,False,212106,96
96,7ygpwy2qP3NbrxVkHvUhXY,6tOe4eAF8xNhEkl9WyvsE4,Wonderwall - Remastered,3,track,False,258773,97
97,4CeeEOM32jQcH3eN9Q2dGj,2UJcKiJxNryhL050F5Z1Fk,Smells Like Teen Spirit,1,track,False,301920,98
98,47Slg6LuqLaX0VodpSCvPt,6J84szYCnMfzEcvIcfWMFL,Just the Way You Are,2,track,False,220734,99
99,1mea3bSkSGXuIRvnydlB5b,1CEODgTmTwLyabvwd7HBty,Viva La Vida,7,track,False,242373,100

In [17]:
collab_df = pd.DataFrame(collaboration_list)
collab_df

                   track_id               artist_id
0    0VjIjW4GlUZAMYd2vXMi3b  1Xyo4u8uXC1ZmMpatF05PJ
1    7qiZfU4dY1lWllzX7mPBI3  6eUKZXaKkcviH0Ku9w2n3V
2    7qEHsqek33rTcFNT9PFqLf  4GNC7GD6oZMSxPGyXy4MNB
3    3KkXRkHbMCARz0aVfEt68P  246dkjvS1zLTtiykXe5h60
4    3KkXRkHbMCARz0aVfEt68P  1zNqQNIdeOUZHb8zbZRFMX
..                      ...                     ...
125  698ItKASDavgwZ3WjaWjtz  7vk5e3vY1uw9plTHJAMwjN
126  7ygpwy2qP3NbrxVkHvUhXY  2DaxqgrOhkeH0fpeiQq2f4
127  4CeeEOM32jQcH3eN9Q2dGj  6olE6TJLqED3rqDCT0FyPh
128  47Slg6LuqLaX0VodpSCvPt  0du5cEVh5yTK9QJze8zA0C
129  1mea3bSkSGXuIRvnydlB5b  4gzpq5DPGxSnKTe4SA8HAU

[130 rows x 2 columns]

In [18]:
# finding out album_owner_id not in artist_id....
album_owner_id = {album['album_owner_id'] for album in album_list}
artist_id = {artist['artist_id'] for artist in artist_list}

missing_ids = album_owner_id.difference(artist_id)
missing_ids

{'0LyfQWJT6nXafLPZqxe9Of'}

In [19]:
missing_artists = album_df[album_df['album_owner_id'].isin(missing_ids)]
missing_artists

,album_id,album_name,album_release_date,album_total_tracks,album_type,album_owner_id,album_owner_name
3,35s58BRTGAEWztPo9WqCIs,Spider-Man: Into the Spider-Verse (Soundtrack ...,2018-12-14,13,album,0LyfQWJT6nXafLPZqxe9Of,Various Artists
66,3CjuTytLZz3G9znXt2rJgU,SHADYXV,2014-11-24,28,album,0LyfQWJT6nXafLPZqxe9Of,Various Artists

#### i looked up both albums.
#### the first one is for the spider-man movie while the SHADYXV is an album that consists of various artists in Shady Records.
#### spotify assigns albums that are not owned by a particular artist to "Various Artists" as if "Various Artists" is another artist in their books.
#### i'll also take the same approach and add the "Various Artists" name and id to the artists_df and drop the 'album_owner_name' column from the album_id to achieve normalization.

In [20]:
new_artist = {
    'artist_id': '0LyfQWJT6nXafLPZqxe9Of',
    'artist_name': 'Various Artists'
}

artist_df = pd.concat([artist_df, pd.DataFrame([new_artist])], ignore_index=True)
artist_df.tail()

                  artist_id      artist_name artist_type
126  2DaxqgrOhkeH0fpeiQq2f4            Oasis      artist
127  6olE6TJLqED3rqDCT0FyPh          Nirvana      artist
128  0du5cEVh5yTK9QJze8zA0C       Bruno Mars      artist
129  4gzpq5DPGxSnKTe4SA8HAU         Coldplay      artist
130  0LyfQWJT6nXafLPZqxe9Of  Various Artists         NaN

In [21]:
# drop album_owner_name column
album_df = album_df.drop(['album_owner_name'], axis = 1)
album_df.head()

,album_id,album_name,album_release_date,album_total_tracks,album_type,album_owner_id
0,4yP0hdKOZPNshxUOjY0cZj,After Hours,2020-03-20,14,album,1Xyo4u8uXC1ZmMpatF05PJ
1,3T4tUhGYeRNVUGevb0wThu,÷ (Deluxe),2017-03-03,16,album,6eUKZXaKkcviH0Ku9w2n3V
2,5658aM19fA3JVwTK6eQX70,Divinely Uninspired To A Hellish Extent,2019-05-17,12,album,4GNC7GD6oZMSxPGyXy4MNB
3,35s58BRTGAEWztPo9WqCIs,Spider-Man: Into the Spider-Verse (Soundtrack ...,2018-12-14,13,album,0LyfQWJT6nXafLPZqxe9Of
4,0UywfDKYlyiu1b38DRrzYD,Dance Monkey (Stripped Back) / Dance Monkey,2019-10-17,2,album,2NjfBq1NflQcKSeiDooVjY

#### i extracted the album type, artist type and track type to check if there was anything interesting there but as shown below, they do not give any new information. 
#### artist_df has a second unique 'nan' value because of the 'Various Artists' we just added.
#### we'll go ahead to drop all 3 columns.

In [22]:
album_df['album_type'].unique()

array(['album'], dtype=object)

In [23]:
artist_df['artist_type'].unique()

array(['artist', nan], dtype=object)

In [24]:
track_df['track_type'].unique()

array(['track'], dtype=object)

In [25]:
album_df = album_df.drop(['album_type'], axis =1)
artist_df = artist_df.drop(['artist_type'], axis =1)
track_df = track_df.drop(['track_type'], axis =1)

#### checking df-s with duplicate rows

In [26]:
print(len(album_df) == len (album_df.drop_duplicates()))
print(len(artist_df) == len (artist_df.drop_duplicates()))
print(len(track_df) == len (track_df.drop_duplicates()))
print(len(collab_df) == len (collab_df.drop_duplicates()))

False
False
True
True

#### now i go ahead to drop the duplicate rows from album_df and artist_df

In [27]:
album_df = album_df.drop_duplicates().reset_index(drop = True)
artist_df = artist_df.drop_duplicates().reset_index(drop = True)

In [28]:
album_df.head()

,album_id,album_name,album_release_date,album_total_tracks,album_owner_id
0,4yP0hdKOZPNshxUOjY0cZj,After Hours,2020-03-20,14,1Xyo4u8uXC1ZmMpatF05PJ
1,3T4tUhGYeRNVUGevb0wThu,÷ (Deluxe),2017-03-03,16,6eUKZXaKkcviH0Ku9w2n3V
2,5658aM19fA3JVwTK6eQX70,Divinely Uninspired To A Hellish Extent,2019-05-17,12,4GNC7GD6oZMSxPGyXy4MNB
3,35s58BRTGAEWztPo9WqCIs,Spider-Man: Into the Spider-Verse (Soundtrack ...,2018-12-14,13,0LyfQWJT6nXafLPZqxe9Of
4,0UywfDKYlyiu1b38DRrzYD,Dance Monkey (Stripped Back) / Dance Monkey,2019-10-17,2,2NjfBq1NflQcKSeiDooVjY

#### album_id can serve as the pk for the album_df dataset

In [29]:
artist_df.head()

                artist_id    artist_name
0  1Xyo4u8uXC1ZmMpatF05PJ     The Weeknd
1  6eUKZXaKkcviH0Ku9w2n3V     Ed Sheeran
2  4GNC7GD6oZMSxPGyXy4MNB  Lewis Capaldi
3  246dkjvS1zLTtiykXe5h60    Post Malone
4  1zNqQNIdeOUZHb8zbZRFMX       Swae Lee

#### artist_id can serve as the pk for the artist_df dataset

In [30]:
track_df.head()

,track_id,album_id,track_title,track_number,explicit,duration_ms,rank
0,0VjIjW4GlUZAMYd2vXMi3b,4yP0hdKOZPNshxUOjY0cZj,Blinding Lights,9,False,200040,1
1,7qiZfU4dY1lWllzX7mPBI3,3T4tUhGYeRNVUGevb0wThu,Shape of You,4,False,233712,2
2,7qEHsqek33rTcFNT9PFqLf,5658aM19fA3JVwTK6eQX70,Someone You Loved,4,False,182160,3
3,3KkXRkHbMCARz0aVfEt68P,35s58BRTGAEWztPo9WqCIs,Sunflower - Spider-Man: Into the Spider-Verse,2,False,158040,4
4,2XU0oxnq2qxCpomAAuJY8K,0UywfDKYlyiu1b38DRrzYD,Dance Monkey,2,False,209438,5

#### track_id can serve as the PK for track_df dataset. album_id can serve as a foreign key and be used to join the dataset with album_df in order to find the name of the album the track featured on

In [31]:
collab_df.head()

                 track_id               artist_id
0  0VjIjW4GlUZAMYd2vXMi3b  1Xyo4u8uXC1ZmMpatF05PJ
1  7qiZfU4dY1lWllzX7mPBI3  6eUKZXaKkcviH0Ku9w2n3V
2  7qEHsqek33rTcFNT9PFqLf  4GNC7GD6oZMSxPGyXy4MNB
3  3KkXRkHbMCARz0aVfEt68P  246dkjvS1zLTtiykXe5h60
4  3KkXRkHbMCARz0aVfEt68P  1zNqQNIdeOUZHb8zbZRFMX

#### track_id and artist_id can serve as composite pk for the collab_df dataset. 

#### this dataset can also be used to match each artist to tracks they featured on. 

#### it serves as the bridge entity that takes care of the many to many relationship between artist and track.

In [32]:
album_df.to_csv('album.csv', index=False)
artist_df.to_csv('artist.csv', index=False)
collab_df.to_csv('collab.csv', index=False)
track_df.to_csv('track.csv', index=False)